@charset "UTF-8";
footer.footer-area.base-footer-rif {
  padding-top: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.single-blog-style1 .text-holder {
  box-shadow: 0px 0px 20px 5px #0000000d;
}
.single-blog-style1 .text-holder .tag-box a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  background: #eab71c;
  padding: 0 15px;
  border-radius: 5px;
  margin: 0;
}

.single-blog-style2 .text-holder .tag-box a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  background: #eab71c;
  padding: 0 15px;
  border-radius: 5px;
  margin: 0;
}

.blog-standard-area .blog-posts .single-blog-style1 .img-holder {
  margin-bottom: 30px;
}
.blog-standard-area .blog-posts .single-blog-style1 .text-holder {
  padding: 0px;
  position: relative;
}
.blog-standard-area .blog-posts .single-blog-style1 .text-holder i.fa.fa-map-pin {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #eab71c;
  font-size: 20px;
  background: #0d1429;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.styled-pagination .pagination .nav-links {
  position: relative;
  display: block;
  margin: 0 auto;
}
.styled-pagination .pagination .nav-links .page-numbers {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 0%;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  color: #222222;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  transition: all 500ms ease;
  font-family: "Barlow Condensed", sans-serif;
  z-index: 1;
}
.styled-pagination .pagination .nav-links .page-numbers i {
  position: relative;
  top: 0px;
  display: inline-block;
  transform: rotate(-90deg);
}
.styled-pagination .pagination .nav-links .page-numbers i.right {
  transform: rotate(90deg);
}
.styled-pagination .pagination .nav-links .page-numbers:hover {
  background: #da3c22;
  color: #fff;
}
.styled-pagination .pagination .nav-links .current {
  background: #da3c22;
  color: #fff;
  border-color: #da3c22;
}

.styled-pagination.text-center .nav-links {
  margin: 0 auto;
}

.single-blog-style1 .text-holder .tag-box a {
  display: none;
}
.single-blog-style1 .text-holder .tag-box a:first-child {
  display: table;
}

.sidebar-search-box .search-form .form-group {
  margin-bottom: 0;
}
.sidebar-search-box .search-form .form-group input[type=search] {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  padding-left: 19px;
  padding-right: 60px;
  border-radius: 10px;
  transition: all 500ms ease 0s;
  font-family: "Poppins", sans-serif;
}

.single-sidebar {
  padding-bottom: 50px;
}
.single-sidebar:last-child {
  padding-bottom: 0;
}

.wp-caption img {
  margin-top: 10px;
}

img.aligncenter {
  display: block;
}

.page-links a,
.page-links .post-page-numbers {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #222;
  background: transparent;
  z-index: 1;
  border: 1px solid currentColor;
  transition: all 500ms ease;
}
.page-links a:hover,
.page-links .post-page-numbers:hover {
  background: #222;
  color: #fff;
  border: 1px solid #222;
}
.page-links .post-page-numbers.current {
  background: #222;
  border: 1px solid #222;
  color: #fff;
}

.sidebar-wrapper .calendar_wrap table {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}
.sidebar-wrapper .calendar_wrap table caption {
  padding: 0;
  padding-top: 5px;
}
.sidebar-wrapper .calendar_wrap table a {
  color: #fe4135;
}
.sidebar-wrapper .calendar_wrap .wp-calendar-nav a {
  color: #fe4135;
}
.sidebar-wrapper .sidebar-widget {
  margin-bottom: 30px;
}
.sidebar-wrapper .sidebar-widget:last-child {
  margin-bottom: 0px;
}

.widget_recent_entries ul li {
  margin-bottom: 8px;
}
.widget_recent_entries ul li a {
  color: #706767;
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  background: #f3f3f3;
  position: relative;
  display: block;
}
.widget_recent_entries ul li:hover a {
  color: #fff;
  background: #fe4135;
}
.widget_recent_entries ul li:last-child {
  margin-bottom: 0;
}

.widget_nav_menu ul,
.widget_meta ul,
.widget_pages ul {
  padding-left: 0px;
}
.widget_nav_menu ul li,
.widget_meta ul li,
.widget_pages ul li {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  padding-left: 0px;
  font-family: "Barlow Condensed", sans-serif;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  width: 100%;
  display: flex;
  color: #0c1529;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.widget_nav_menu ul li a,
.widget_meta ul li a,
.widget_pages ul li a {
  position: relative;
  display: block;
  font-size: 20px;
  color: #0c1529;
  line-height: 28px;
  font-weight: 500;
  padding-left: 0px;
  font-family: "Barlow Condensed", sans-serif;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  padding: 10px 0px;
  margin-right: 5px;
}
.widget_nav_menu ul li a:before,
.widget_meta ul li a:before,
.widget_pages ul li a:before {
  position: absolute;
  top: 12px;
  left: 0px;
  font-size: 18px;
  content: "";
  font-family: Flaticon;
  font-weight: 600;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  transform: scaleY(0);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  color: #ff4135;
}
.widget_nav_menu ul li a:hover,
.widget_meta ul li a:hover,
.widget_pages ul li a:hover {
  padding-left: 30px;
}
.widget_nav_menu ul li a:hover:before,
.widget_meta ul li a:hover:before,
.widget_pages ul li a:hover:before {
  transform: scaleY(1);
}
.widget_nav_menu ul li ul,
.widget_meta ul li ul,
.widget_pages ul li ul {
  width: 100%;
  padding-left: 15px;
}
.widget_nav_menu ul li ul li,
.widget_meta ul li ul li,
.widget_pages ul li ul li {
  padding: 0;
  position: relative;
}
.widget_nav_menu ul li ul li a,
.widget_meta ul li ul li a,
.widget_pages ul li ul li a {
  padding-left: 25px;
}
.widget_nav_menu ul li ul li a::before,
.widget_meta ul li ul li a::before,
.widget_pages ul li ul li a::before {
  left: 0;
  transform: scaleY(1);
}
.widget_nav_menu ul li ul li ul,
.widget_meta ul li ul li ul,
.widget_pages ul li ul li ul {
  padding-left: 25px;
}

.widget_nav_menu ul li ul li ul {
  padding-left: 17px;
}
.widget_archive ul,
.widget_categories ul {
  padding-left: 0px;
}
.widget_archive ul li,
.widget_categories ul li {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  padding-left: 0px;
  font-family: "Barlow Condensed", sans-serif;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  width: 100%;
  display: flex;
  color: #0c1529;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.widget_archive ul li a,
.widget_categories ul li a {
  position: relative;
  display: block;
  font-size: 20px;
  color: #0c1529;
  line-height: 28px;
  font-weight: 500;
  padding-left: 0px;
  font-family: "Barlow Condensed", sans-serif;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  padding: 10px 0px;
  margin-right: 5px;
  padding-left: 35px;
}
.widget_archive ul li a:before,
.widget_categories ul li a:before {
  position: absolute;
  top: 12px;
  left: 0px;
  font-size: 18px;
  content: "";
  font-family: Flaticon;
  font-weight: 600;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  transform: scaleY(1);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  color: #ff4135;
}
.widget_archive ul li a:hover,
.widget_categories ul li a:hover {
  padding-left: 35px;
}
.widget_archive ul li ul,
.widget_categories ul li ul {
  width: 100%;
  padding-left: 15px;
}
.widget_archive ul li ul li,
.widget_categories ul li ul li {
  padding: 0;
  position: relative;
}
.widget_archive ul li ul li a,
.widget_categories ul li ul li a {
  padding-left: 25px;
}
.widget_archive ul li ul li a::before,
.widget_categories ul li ul li a::before {
  left: 0;
  transform: scaleY(1);
}
.widget_archive ul li ul li ul,
.widget_categories ul li ul li ul {
  padding-left: 25px;
}

.widget_recent_comments ul li {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}
.widget_recent_comments ul li .comment-author-link {
  font-weight: 600;
  margin-right: 5px;
}
.widget_recent_comments ul li .comment-author-link a {
  color: #222;
}
.widget_recent_comments ul li a {
  color: #fe4135;
  margin-left: 5px !important;
}

.widget_tag_cloud a {
  position: relative;
  display: inline-block;
  font-size: 15px !important;
  line-height: 26px;
  color: #717577;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #22222238;
  padding: 10px 20px;
}
.widget_tag_cloud a:hover {
  color: #000;
}

.widget_text .textwidget p {
  font-size: 16px;
  line-height: 33px;
  margin-bottom: 5px;
}
.widget_text .textwidget form {
  margin-top: 10px;
}

.widget_rss .widget-title h3 img {
  top: -3px;
  position: relative;
}
.widget_rss .widget-title h3 a {
  color: #000000;
}
.widget_rss ul li {
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.widget_rss ul li:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px solid #e5e5e5;
}
.widget_rss ul li .rsswidget {
  margin-bottom: 10px;
  font-family: "Barlow Condensed", sans-serif;
  display: block;
  font-weight: 600;
  font-size: 21px;
}
.widget_rss ul li .rss-date {
  margin-bottom: 5px;
}
.widget_rss ul li .rssSummary {
  line-height: 28px;
}
.widget_rss ul li cite {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  font-family: "Barlow Condensed", sans-serif;
}
.widget_rss ul li a {
  color: #4c4c4c;
}

figcaption {
  margin-top: 10px;
  padding-bottom: 15px;
  font-size: 14px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

acronym {
  border-bottom: 1px dotted;
}

.wp-caption-text,
.gallery-caption,
.bypostauthor {
  opacity: 1;
}

table,
th,
td {
  border: 1px solid #f0f0f0;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  font-size: 15px;
}

th,
td {
  padding: 7px;
  font-size: 15px;
}

table {
  border-collapse: separate;
  margin-bottom: 10px;
  margin-top: 10px;
  border-spacing: 0;
}
table a {
  color: #ff4135 !important;
}

select {
  position: relative;
  width: 100%;
  border: none;
  line-height: 56px;
  border-radius: 0px;
  padding: 0px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #2d2727;
  border: 1px solid transparent;
  background: #f3f3f3;
  z-index: 9;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='2d2727' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 15px;
}

.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
  text-align: center;
}

.wp-block-image {
  max-width: 100%;
}
.wp-block-image figcaption {
  display: block;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 4px;
  overflow: auto;
  margin-top: 10px;
  border: 1px solid #2b3c6b;
}

.wp-block-cover-text {
  font-size: 24px;
}
.wp-block-cover-text a {
  color: #ffffff;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.wp-block-button.alignright {
  text-align: right;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding: 41px 40px !important;
}

article .text {
  overflow: hidden;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  clear: both;
}

.blocks-gallery-item {
  list-style: outside none;
  padding-left: 0 !important;
}

iframe {
  width: 100%;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-block-cover-text {
  margin-bottom: 0 !important;
}

.aligncenter {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.blocks-gallery-item:before {
  content: none !important;
}

.email-not-publish,
.logged-in-as {
  font-size: 15px;
  margin-bottom: 5px;
}
.email-not-publish a,
.logged-in-as a {
  color: #222222;
}

td#today {
  color: red;
}

a.rsswidget {
  color: #222;
}

.wp-block-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wp-block-button .wp-block-button__link {
  color: #ffffff;
}

.is-style-outline .wp-block-button__link {
  color: #32373c !important;
}

.wp-block-button__link.is-style-outline {
  color: #32373c !important;
}

.wp-block-search .wp-block-search__input {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #ff413547;
  border-radius: 5px;
  background: #fff;
  padding: 10px 15px;
  transition: all 500ms ease;
  max-width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
.wp-block-search .wp-block-search__button {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #ff413547;
  border-radius: 5px;
  background: #ff4135;
  padding: 10px 15px;
  transition: all 500ms ease;
  color: #fff;
  max-width: 90px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 0;
}

figure.alignright figcaption {
  text-align: right;
}

figure.aligncenter figcaption {
  text-align: center;
}

.wp-block-group__inner-container {
  padding: 20px;
  margin-bottom: 15px;
}

.wp-block-media-text {
  margin-bottom: 10px;
}

.post-password-form input {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #222;
  border-radius: 5px;
  background: #fff;
  padding: 10px 15px;
  transition: all 500ms ease;
  max-width: 300px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 10px;
}
.post-password-form input[type=submit] {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #222;
  border-radius: 5px;
  background: #222;
  padding: 10px 15px;
  transition: all 500ms ease;
  color: #fff;
  max-width: 90px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 0;
}

.wp-block-tag-cloud a {
  position: relative;
  display: inline-block;
  font-size: 15px !important;
  line-height: 26px;
  color: #25283a;
  border: 1px solid #ff413547;
  border-radius: 4px;
  padding: 7px 21.5px;
  margin-bottom: 5px;
}

.wp-block-button.is-style-squared a {
  border-radius: 0;
}

.comment.yes-ping .single-comment-box {
  padding-left: 0;
}
.comment.yes-ping .single-comment-box .comment-inner {
  margin-left: 0;
}

.breadcrumb-style2-area .tag-box p a {
  display: none;
  color: #fff;
}
.breadcrumb-style2-area .tag-box p a:first-child {
  display: block;
}

.blog-single-breadcrumb {
  background-color: #232222;
}
.blog-single-breadcrumb .meta-info li a {
  color: #fff;
  text-transform: capitalize;
}

h2.entry-title,
.blog-title {
  word-wrap: break-word;
}

.search-page-area-main .search-form {
  max-width: 240px;
}

.breadcrumb-style2-area .meta-info li {
  text-transform: capitalize;
}

.single-blog-style1 .text-holder .meta-info i {
  color: #222222;
  margin-right: 5px;
}

.base-theme .single-blog-style1 .img-holder img {
  width: auto;
}

.blog-details-area .blog-posts .blog-posts-content, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment {
  overflow: hidden;
}
.blog-details-area .blog-posts .blog-posts-content p:last-child, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment p:last-child {
  margin-bottom: 0;
}
.blog-details-area .blog-posts .blog-details-bottom-content {
  padding-top: 25px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box {
  padding-top: 0;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .title {
  padding-bottom: 20px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .title h3 {
  font-size: 23px;
  line-height: 24px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .comment-respond {
  margin-bottom: 25px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box {
  margin-bottom: 0;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box figure.thumb-box.img-holder img {
  box-shadow: inset 0px 0px 2px 3px #22222208;
  padding: 1px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .text-holder {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .text-holder .top h3 {
  font-size: 19px;
  letter-spacing: 0.5px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .text-holder .top h3 a {
  color: #222222;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .text {
  padding-bottom: 0px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .text p:last-child {
  margin-bottom: 0;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .text p a {
  color: #da3c22;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .single-comment-box .reply a {
  margin-top: 10px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li ol {
  padding-left: 30px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .add-comment-box {
  padding-top: 0;
}
.blog-details-area .blog-posts .blog-details-bottom-content .add-comment-box .title {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .add-comment-box .title h3 {
  line-height: 30px;
  font-size: 30px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .add-comment-box #add-comment-form .button-box button span {
  z-index: 1;
  position: relative;
}
.blog-details-area .blog-posts .categories-social-share-box {
  margin-bottom: 0;
  margin-top: 20px;
  padding: 10px 0;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond .form-group {
  margin-bottom: 0 !important;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond input[type=text],
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond input[type=email],
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond input[type=tel],
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond textarea {
  position: relative;
  display: block;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 50px;
  color: #222222;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding: 0 25px;
  border-radius: 5px;
  margin-bottom: 20px !important;
  transition: all 500ms ease;
  font-family: "Poppins", sans-serif;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond textarea {
  height: 150px;
  padding: 15px 25px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond textarea .form-group {
  margin-bottom: 0rem;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond .title h3 {
  line-height: 22px;
  font-size: 21px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond .title small {
  margin-left: 10px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond .title small a {
  color: #da3c22;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond #add-comment-form .button-box button span {
  z-index: 1;
  position: relative;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond .form-submit .button-box {
  padding-bottom: 10px;
}
.blog-details-area .blog-posts .blog-details-bottom-content .comment-respond .form-submit .button-box .txt button {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 60px;
}

.has-large-font-size {
  font-size: 29px;
}

.post-single-link.page-links {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}
.base-theme .blog-posts-content blockquote, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment blockquote, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment blockquote {
  padding: 41px 40px;
  background-color: #f7f7fa;
  border-left: 2px solid #ff4135;
}
.base-theme .blog-posts-content table, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment table, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment table {
  max-width: 100%;
}
.base-theme .blog-posts-content table a, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment table a, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment table a {
  color: #ff4135;
}
.base-theme .blog-posts-content select, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment select, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment select {
  max-width: 300px;
  margin-bottom: 20px;
}
.base-theme .blog-posts-content p.wp-block-tag-cloud a, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment p.wp-block-tag-cloud a, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment p.wp-block-tag-cloud a {
  color: #222 !important;
  border-color: #2226;
}
.base-theme .blog-posts-content p.wp-block-tag-cloud a:hover, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment p.wp-block-tag-cloud a:hover, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment p.wp-block-tag-cloud a:hover {
  color: #ff4135 !important;
}
.base-theme .blog-posts-content h3, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment h3, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment h3 {
  font-size: 28px;
  font-weight: 700;
}
.base-theme .blog-posts-content ul, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment ul, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment ul,
.base-theme .blog-posts-content li,
.base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment li,
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment li {
  list-style: disc;
}
.base-theme .blog-posts-content ul, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment ul, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment ul {
  padding-left: 25px;
}
.base-theme .blog-posts-content ol, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment ol, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment ol {
  padding-left: 25px;
}
.base-theme .blog-posts-content ol li, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment ol li, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment ol li {
  list-style: unset;
}
.base-theme .blog-posts-content p, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment p, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment p {
  margin: 0 0 25px;
  line-height: 1.7em;
}
.base-theme .blog-posts-content a, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment a, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment a {
  color: #da3c22;
}
.base-theme .blog-posts-content .wp-block-button .wp-block-button__link, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-button .wp-block-button__link, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-button .wp-block-button__link {
  color: #ffffff;
}
.base-theme .blog-posts-content .has-background-dim .wp-block-cover__inner-container a, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .has-background-dim .wp-block-cover__inner-container a, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .has-background-dim .wp-block-cover__inner-container a {
  color: #fff;
}
.base-theme .blog-posts-content p.wp-block-cover-text, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment p.wp-block-cover-text, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment p.wp-block-cover-text,
.base-theme .blog-posts-content p.wp-block-cover-text a,
.base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment p.wp-block-cover-text a,
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment p.wp-block-cover-text a {
  color: #fff !important;
}
.base-theme .blog-posts-content .wp-block-cover-text, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-cover-text, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-cover-text {
  font-size: 24px;
}
.base-theme .blog-posts-content .wp-block-cover, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-cover, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-cover,
.base-theme .blog-posts-content .wp-block-cover-image,
.base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-cover-image,
.blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-cover-image {
  margin-bottom: 10px;
  margin-top: 10px;
}
.base-theme .blog-posts-content .blocks-gallery-grid, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .blocks-gallery-grid, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .blocks-gallery-grid {
  padding-left: 0;
  margin-top: 10px;
}
.base-theme .blog-posts-content .wp-block-file a.wp-block-file__button, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-file a.wp-block-file__button, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-file a.wp-block-file__button {
  color: #ffffff;
}
.base-theme .blog-posts-content .wp-block-archives li, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-archives li, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-archives li {
  margin-bottom: 10px;
}
.base-theme .blog-posts-content .wp-block-calendar .wp-calendar-table, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-calendar .wp-calendar-table, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-calendar .wp-calendar-table {
  margin-bottom: 0;
}
.base-theme .blog-posts-content .wp-block-calendar .wp-calendar-table caption, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-calendar .wp-calendar-table caption, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-calendar .wp-calendar-table caption {
  padding-bottom: 0;
}
.base-theme .blog-posts-content .wp-block-calendar .wp-calendar-nav, .base-theme .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .single-comment .wp-block-calendar .wp-calendar-nav, .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li .base-theme .single-comment .wp-block-calendar .wp-calendar-nav {
  text-align: left;
  margin-bottom: 10px;
}

.post-social-share ul li a {
  background: #eab71c;
}

.service-style1-area {
  position: relative;
  overflow: hidden;
}

.thm-form-style1-area {
  overflow: hidden;
}

.subscribe-box .wpcf7-not-valid-tip {
  display: none;
}
.subscribe-box .wpcf7-response-output {
  border-color: #0d1429;
  color: #0d1429;
  border-radius: 4px;
}

.breadcrumb-menu ul li:after {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-left: 12px;
}

.breadcrumb-menu ul li:last-child:after {
  display: none;
}

.header-social-link-1 .title h3 {
  color: #fff;
}

.header-social-link-1 .social-link ul li a {
  color: #ffffffe6;
}

.outer-search-box-style1 .seach-toggle {
  color: #ffffffe6;
}

.header-contact-info-1 ul li a {
  color: #ffffffe6;
}

section.service-style3-area {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.sidebar-wrapper .single-sidebar .widget-inner .title h3 {
  font-size: 23px;
}

.blog-details-area.page-single-area .blog-posts .blog-details-bottom-content {
  padding-top: 25px;
}

.base-live-sdeibar .widget_categories ul li a {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.base-live-sdeibar .widget_categories ul li a::before {
  top: 7px;
}
.base-live-sdeibar .widget_categories ul li:last-child a {
  padding-bottom: 0;
}
.base-live-sdeibar .widget_categories ul li:first-child a {
  padding-top: 0;
  line-height: 13px;
  padding-bottom: 12px;
  text-transform: capitalize;
}
.base-live-sdeibar .widget_categories ul li:first-child a::before {
  top: 3px;
}

.info-style5-area.sidenar-content {
  padding: 30px;
  border-radius: 12px;
}
.info-style5-area.sidenar-content .single-info-box-style3 .inner .icon-holder {
  line-height: 70px;
  width: 70px;
  height: 70px;
}
.info-style5-area.sidenar-content .single-info-box-style3 .inner .icon-holder span {
  top: 0;
  right: 0;
  font-size: 20px;
}
.info-style5-area.sidenar-content .single-info-box-style3 .inner .title-holder {
  padding-top: 15px;
}
.info-style5-area.sidenar-content .single-info-box-style3 .inner .title-holder p {
  line-height: 26px;
}
.info-style5-area.sidenar-content .single-info-box-style3 .inner .title-holder h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.service-sidebar .single-location-box {
  margin: 0;
  padding: 0;
}
.service-sidebar .single-location-box .text-box {
  background: transparent;
  padding: 0;
  box-shadow: 0;
}
.service-sidebar .single-location-box .text-box .text h4 {
  color: #ffffff;
}
.service-sidebar .single-location-box .text-box .text p {
  color: #ffffff;
}
.service-sidebar .info-style5-area.sidenar-content {
  background: transparent;
  padding: 0;
}
.service-sidebar .info-style5-area.sidenar-content .container {
  padding: 0;
}
.service-sidebar .info-style5-area.sidenar-content .container .row {
  border: 0;
  margin: 0;
  padding: 0;
}
.service-sidebar .info-style5-area.sidenar-content .container .row .col-xl-12 {
  margin: 0;
  padding: 0;
}
.service-sidebar .info-style5-area.sidenar-content .container .row .title-holder h3 {
  color: #ffffff;
}
.service-sidebar .info-style5-area.sidenar-content .container .row .title-holder h3 a {
  color: #da3c22;
  margin-left: 5px;
}
.service-sidebar .info-style5-area.sidenar-content .container .row .title-holder p {
  color: #ffffff;
}

body {
  overflow-x: hidden;
}

.menu-item-has-children {
  position: relative;
}
.menu-item-has-children .dropdown-btn {
  position: absolute;
  right: 20px;
  top: 8px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  color: black;
  background: #ffffff;
}
.menu-item-has-children .dropdown-btn.open span {
  transform: rotate(90deg);
}

@media only screen and (min-width: 320px) and (max-width: 1499px) {
  .video-holder-box {
    justify-content: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1199px) {
  .choose-style1-area .layer-outer-bg {
    width: 100%;
  }

  .thm-form-style1 .car-image {
    display: none;
  }

  .widget__links {
    padding-left: 0;
  }

  .single-footer-widget .widget_blog {
    margin-bottom: 60px;
    padding-left: 0px;
  }
  .single-footer-widget .widget_blog .single-post:nth-child(1) {
    display: none;
  }
  .single-footer-widget .widget_blog .single-post:nth-child(2) {
    display: none;
  }
  .single-footer-widget .widget_blog .single-post:nth-child(3) {
    display: none;
  }

  .info-style1-area .single-info-box {
    margin-top: 0px;
  }
  .info-style1-area .single-info-box .title-holder {
    top: 0;
    padding-left: 0;
    margin-top: 15px;
  }
  .info-style1-area .single-info-box .inner {
    padding-left: 0;
  }
  .info-style1-area .single-info-box .inner .icon-holder {
    position: relative;
    margin-bottom: 10px;
  }

  .footer-area .single-footer-widget .widget_blog .single-post {
    padding-left: 0;
  }
  .footer-area .single-footer-widget .widget_blog .single-post .image {
    position: relative;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
  .single-footer-widget .widget_blog {
    margin-top: 50px;
  }

  .info-style1-area .single-info-box {
    text-align: center;
  }

  .info-style1-area .single-info-box .inner .icon-holder {
    margin: 0 auto;
  }

  .info-style1-area .single-info-box:before {
    display: none;
  }

  .info-style6-area .single-info-box {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  .mobile-menu-visible .mobile-menu .menu-box .nav-logo {
    margin-top: 40px;
  }
  .mobile-menu-visible .mobile-menu .close-btn {
    top: 50px;
  }

  .breadcrumb-style2-area {
    padding: 70px 0;
  }
  .breadcrumb-style2-area .blog-title {
    font-size: 35px;
    line-height: 40px;
  }
  .breadcrumb-style2-area .meta-info {
    padding-top: 10px;
  }

  .blog-details-area {
    padding: 80px 0;
  }
  .blog-details-area .blog-posts .blog-details-bottom-content .comment-box .outer-box li ol {
    padding-left: 10px;
  }
}
/*# sourceMappingURL=theme-style.css.map */